@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

$main-color: #e7f5fb;
$text-color: #37474f;
$highlight-color: #1976d2;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

body {
	background: $main-color;
}

header {
	height: 70px;
	line-height: 70px;
	display: flex;
}

a {
	text-decoration: none;
	color: $text-color;
}

h1 {
	flex-basis: 80px;
	font-size: 1.5em;
	margin-left: 30px;
	margin-right: auto;
}

.btn-menu {
	margin-right: 30px;
}

nav {
  display: none;
	text-transform: uppercase;
  span {
	  font-size: .8em;
	  font-style: italic;
	  position: absolute;
	  bottom: 0;
	  right: 10px;
  }
}

.mm-listview > li.plugin {
	border-color: transparent;
  a  {
    background: darken($main-color, 10%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px auto 0;
    width: 60%;
    color: $text-color;
    text-align: center;
    padding: 40px 20px;
    font-weight: bold;
    font-size: 1.25em;
    text-transform: lowercase;
    transition: all .3s;
  }
}

main {
  display: block; /* IE */
	padding: 50px 10%;
}

p {
	line-height: 1.5;
  font-size: 20px;
  color: $text-color;
  font-weight: 300;
  text-align: justify;
}

p + p {
	margin-top: 20px;
}

.history h3 {
	margin-bottom: 50px;
}

.history > a {
	float: right;
  text-decoration: underline;
	margin: 50px 0;
	display: inline-block;
}



/* mmenu.js STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mm-menu {
	background: darken($main-color, 10%);
  max-width: 350px;
}

.mm-listview > li > a {
  color: $text-color;
	padding: 20px;
}

.mm-listview > li > a:hover,
.mm-listview .mm-next.mm-fullsubopen:hover + a {
  color: $highlight-color;
}

.mm-listview > li > a:hover span {
  color: $text-color;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next) {
	background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrows_check.svg) no-repeat center right 10px;
	background-size: 30px 30px;
	text-decoration: line-through;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media all and (min-width: 550px) {
    html.mm-opening .mm-slideout {
      transform: translate(350px, 0); 
    } 
  }

@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    transform: translate(-350px, 0);
  }
}